beautifulsoup4==4.6.0
certifi==2017.11.5
cfscrape==1.9.1
chardet==3.0.4
Django==1.8.5
django-crontab==0.7.1
idna==2.6
PyExecJS==1.5.0
pytz==2017.3
requests==2.18.4
whitenoise==3.3.1
dj-database-url
psycopg2
gunicorn:

